@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Email</title>
    <link rel="stylesheet" href="~/assets/css/result-page.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Successfully Request</h1>
            <p>Sent mail to email address. Check your email address and click Password Reset link.</p>
            <a asp-action="Login" asp-controller="Account">Return ></a>
        </div>
    </div>

    <script src="~/assets/js/result-page.js"></script>
</body>
</html>
